<ng-container *ngIf="file$ | async as file; else noFile">
  <h3>Global</h3>
  <editor-form [form]="file.global"></editor-form>
  <h3>Services</h3>
  <editor-form  [form]="file.services"></editor-form>
</ng-container>

<ng-template #noFile>
  No file selected
</ng-template>