<ng-container *ngIf="setName$ | async as name; else noSet">
  <h2>{{ name }}</h2>  
  <div class="grid">
    <app-graphic-editor class="graphic-editor"></app-graphic-editor>    
    <app-text-editor class="text-editor"></app-text-editor>
  </div>
</ng-container>

<ng-template #noSet>
  No chosen set
</ng-template>
